[Desktop Entry]
Encoding=UTF-8
Version=latest
Type=Application
Terminal=false
Exec=/opt/ArWallpaper/launch.sh
Name=ArWallpaper
Icon=preferences-desktop-wallpaper
